.dashboard {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("/public/bgf.png");
}

.logo-image {
  width: 100px;
  margin-bottom: 20px;
  padding: 10px;
}

h2 {
  margin: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.nav-links {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  color: #051529;
}

.nav-links span {
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.event-details {
  padding: 10px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
}

.logout-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.event-container {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;
  padding: 5px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-right: 290px;
}

.event-listing {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  align-items: center;
  margin-left: 200px;
  margin-top: 30px;
}

.button-join {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: auto; 
  letter-spacing: 2px;
  padding: 8px 16px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.name-role {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  align-items: left;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px; 
}

.buttonrequests {
  width: 400px;
  align-self: center;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  border-radius: 10px;
  overflow: hidden; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}

th {
  background-color: lightblue;
  border-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

button {
  background-color: #12422B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  width: auto; 
  padding: 8px 16px;
}

button:hover {
  background-color: #45a049;
}

.decline-button {
  padding: 6px 10px;
  background-color: #570000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.decline-button:hover {
  background-color: #A82D2D; 
}
.UpVote {
  color: #051529;
  display: "flex"; 
  justify-content: "flex-end";
}
.UpVote:hover{
  animation: morph 1s ease-in-out infinite;
}

.request-sent {
  display: flex;
  justify-content: center;
}

.notification-box-container {
  width: 300px;
  position: fixed;
  top: 165px;
  right: 20px;
  z-index: 1000;
  margin-right: 50px;
  margin-top: 30px
}

.notification-box-card {
  border: 1px solid #ccc;
  border-radius: 20px;
}

.main-content {
  display: flex;
}

.event-listing {
  margin-left: 20px;
  flex-grow: 1;
}

.error-message {
  color: red;
}

@keyframes morph {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}